header {
    background-color: black;
    background-image: url("../L04/assets/foto/foto3s.png");
    background-repeat: no-repeat;
    margin: -10px -10px 0px -10px;
    height: 400px;
}
header img {
    padding: 50px 200px 0px 200px;
}
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 80px 200px 0px 200px;
}
a {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    text-decoration: none;
    text-align: right;
}
a.link {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    text-decoration: none;
    text-align: right;
}
a:visited {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-align: right;
    color: white;
}
a:hover {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-line:underline;
    text-align: right;
    color: white;
}
li a {
    display: block;
    float: right;
    padding: 20px;
}
h2 {
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding: 20px 200px 0px 200px;
}


#message{
	padding: 5px 200px 5px 200px;
}
#message ul li{
	margin-bottom: 15px;
}
#message ul li a{
	display: inline;
	color: white;
	margin: 5px 0 0 5px;
	background-color: gray;
	padding: 0px 15px 0px 15px;
}
#message input{
	width: 250px;
	height: 40px;
    background-color: grey;
    color: white;
}
#message li input[type=text]{
	border-radius: 5px;
}
#message textarea{
    color: white;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 500px;
    height: 200px;
    background-color: grey;
}


footer {
    background-color: #eaeaea;
    margin: 0px -10px -10px -10px;
    display: flex;
    justify-content: space-between;
}
.Kontakt {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding: 10px 200px 0px 200px;
}
.links {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding: 5px 0px 0px 0px;
    text-align: center;
}
.copyright {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding: 5px 200px 0px 200px;
    text-align: right;
    display: flex;
}