html, body{
    height: 100%;
    margin: 0;
}
header {
    background-image: url("../L04/assets/foto/foto3s.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
}
header img {
    padding-top: 10px;
}
header div{
    max-width: 800px;
    margin: auto;
}
ul {
    list-style-type: none;
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}
a {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    text-decoration: none;
    text-align: right;
}
a:visited {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-align: right;
    color: white;
}
a:hover {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-line:underline;
    text-align: right;
    color: white;
}
li a {
    display: block;
    float: right;
    padding: 20px;
}
.body {
    max-width: 800px;
    margin: auto;
}
.main{
    max-width: 800px;
    margin: auto;
}

body {
    background-color:white;
}
h2 {
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
h3 {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
footer {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
}
.Kontakt {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    position: ;
}
.links {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.copyright {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}