header {
    background-color: black;
    background-image: url("../L04/assets/foto/foto3s.png");
    background-repeat: no-repeat;
    margin: -10px -10px 0px -10px;
    height: 400px;
}
header img {
    padding: 50px 200px 0px 200px;
}
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 80px 200px 0px 200px;
}
a {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-align: right;
    color: gray;
}
a:visited {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: underline;
    text-align: right;
}
a:hover {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration-line:underline;
    text-align: right;
}
li a {
    display: block;
    float: right;
    padding: 20px;
}
h2 {
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding: 20px 200px 0px 200px;
}
p {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding: 20px 200px 0px 200px;
}