h2 {
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding: 20px 200px 0px 200px;
}
form {
    padding: 20px 200px 0px 200px;
}
input {
    padding: 20px 200px 0px 200px;
    color: white;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: grey;
    width: 400px;
}