body {
    position: relative;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: lightblue;
}

h1 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
}

h3 {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
}

#addTask {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    text-align: left;
    border-radius: 10px;
    border-color: black;
    border-style:ridge;
    outline:none;
    width: 410px;
    height: 40px;
}

.fa-plus{
    color: black;
    width: 50px;
    background-color: lightblue;
    border: white;
    font-size: 25px;
    margin-left: 20px;
}

.fa-circle, .fa-circle-check, .fa-trash{
    color: black;
    width: 50px;
    background-color: white;
    border: white;
    font-size: 25px;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: left;
    list-style-type: none;
    border-style: ridge;
    border-radius: 10px;
    border-color: black;
    background: white;
    color: black;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    height: 20px;
    margin-left: -40px;
}

