body {
    background-color: #000;
}

.buttons {
    position: relative;
    margin: auto;
    width: 500px;
    height: 500px;
}

.soundA {
    width: 150px;
    height: 150px;
    margin: 4px 2px;
    border-radius: 10px;
    border: none;
    background-color: #3b7ae8
}

.soundC {
    width: 150px;
    height: 150px;
    margin: 4px 2px;
    border-radius: 10px;
    border: none;
    background-color: #3b7ae8
}

.soundF {
    width: 150px;
    height: 150px;
    margin: 4px 2px;
    border-radius: 10px;
    border: none;
    background-color: #3b7ae8
}

.soundG {
    width: 150px;
    height: 150px;
    margin: 4px 2px;
    border-radius: 10px;
    border: none;
    background-color: #ed1d8e;
}

.soundHihat {
    width: 150px;
    height: 150px;
    margin: 4px 2px;
    border-radius: 10px;
    border: none;
    background-color: #ed1d8e;
}

.soundKick {
    width: 150px;
    height: 150px;
    margin: 4px 2px;
    border-radius: 10px;
    border: none;
    background-color: #ed1d8e;
}

.soundLaugh1 {
    width: 150px;
    height: 150px;
    margin: 4px 2px;
    border-radius: 10px;
    border: none;
    background-color: #ed1d8e;
}

.soundLaugh2 {
    width: 150px;
    height: 150px;
    margin: 4px 2px;
    border-radius: 10px;
    border: none;
    background-color: #d78100;
}

.soundSnare {
    width: 150px;
    height: 150px;
    margin: 4px 2px;
    border-radius: 10px;
    border: none;
    background-color: #d78100;
}

.play {
    position: relative;
    left: 170px;
    margin: 4px 2px;
    width: 150px;
    height: 150px;
}